@media screen and (max-width: 640px) {
    :root {
        --text-color: rgb(57, 65, 120);
        --light-color: rgb(251, 249, 249);
        --lighter-color: #f6f4f4;
        --dark-color: #333333;
    }
    
    
    * {
        text-align: center;
        -border: 3px solid black;
        -box-sizing: content-box;
        -font-family: san 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-family: 'Times New Roman', Times, serif;
    
        font-size: medium;

    }
    
    
    h1, h2 {
        font-size: 3em;
        text-align: center;
        color: var(--text-color);
    }
    
    
    body {
        -background-image: url('../../files/signature/dq-signature.png');
        background-color: var(--default-color);
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    
    header, section, form, footer {
        background-color: white;
    }


    section {
        min-height: 5cm;
    }


    #menuToggle
    {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
    }

    #menuToggle a
    {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
    }

    #menuToggle a:hover
    {
    color: tomato;
    }


    #menuToggle input
    {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
    }

    /*
    * Just a quick hamburger
    */
    #menuToggle span
    {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: var(--text-color);
    -background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
    transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked ~ span
    {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
    transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu
    {
    position: absolute;
    width: 100vw;
    margin: -100px 0 0 -50px;
    padding: 0px;
    padding-top: 100px;
    padding-bottom: 35px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
    padding: 10px 0;
    font-size: 22px;
    }

    /*
    * And let's slide it in from the left
    */
    #menuToggle input:checked ~ ul
    {
    transform: none;
    }






    /* #topNav {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        font-size: small;
        background-color: #333333;
        opacity: 0.9;
        height: 2.8em;
        z-index: 2;
        position: sticky;
        top: 0px;
    } */


    /* #hamburger {
      visibility: visible;
      display: flex;
      justify-content: flex-end;
      filter: invert(.8);
    } */

    #hamburger {
        visibility: hidden;
    }


    #topNav {
        visibility: hidden;
    }


    #topNav a {
        visibility: hidden;
    }

    #opening {
        display: none;
    }
    

    #wrapper {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: repeat(1, 2vw);
        gap: .5vh;
        grid-auto-rows: 2vh;        
        grid-template-areas:
            "a"
            "a"
            "b"
            "c"; */
        background-image: "./assets/media/flower.jpeg";
    }
    
    
    
    
    
    #wrapper #signature-wrapper, #flower-wrapper {
        margin-top: 5vh;
        max-width: 100vw;
    }


    #flower-wrapper {
        border: 8px solid var(--lighter-color);
        border-radius: 100%;
    }
    

    #wrapper-links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1em;
        text-align: center;

        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #contact-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1em;
        text-align: center;

        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    
    #wrapper-links img, #contact-links img {
        height: 12vw;
        border: 2px solid var(--dark-color);
        border-radius: 12px;
        padding: 2vw;
    }



    #wrapper-links img:hover, #contact-links img:hover {
        transform: scale(1.3);
        transition: transform 0.2s;
        background-color: var(--default-background);
    }







    #Projects iframe {
        max-width: 100vw;
        height: 70vh;
    }
    
    
    #Projects video {
        max-height: 70vh;
    }
    
    
    .projects-gallery {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
        overflow-x: scroll;
    }
    
    .projects-fig {
        padding: .7rem;
        background-color: #636363;
        color: #d9d9d9;
    }












  
    #About-Me img, #About-Me video {
        max-height: 40vh;
    }


    .about-gallery {
        display: flex;
        flex-wrap: nowrap;
        background-color: #f0f0f0;
        overflow-x: scroll;
    }









    #sleeping-seal {
        max-width: 100vw;
    }

  }